<div class="main__container">

    <div class="main__content">
        <h1>Gaming Era</h1>
        <h2>Are you ready?</h2>
        <p>How pro you are?</p>
        <button class="main__btn">
            <a href="#!signup">Get Started</a>
        </button>
    </div>
    <div class="main__img--container">
        <img src="images/gaming-war.jpg" alt="" id="main__img">
    </div>
</div>

<h1 class="services-title">See what the hype is about</h1>

<div class="services">
    <div class="services__container">
        <div class="services__card">
            <h2>Experience Bliss</h2>
            <p>High Performance Gaming Zone</p>
            <button class="ser__btn"><a href="#!tech">Start your own Game</a></button>

        </div>
        <div class="services__card">
            <h2>Are you dare to?</h2>
            <p>Knock Out!!!</p>
            <button class="ser__btn"><a href="#!tech">Get Started</a></button>
        </div>
    </div>
</div>
